
useDynLib(potts)

export(packPotts)
export(inspectPotts)
export(unpackPotts)
export(potts)

S3method(potts, potts)
S3method(potts, raw)
S3method(image, raw)

# exports for composite log likelihood
export(generate_t_cache)
export(gengridcache)
export(gensingleton)
export(singleton)
export(gentwopixel)
export(twopixel)
export(twopixel.nonoverlap)
export(genfourpixel)
export(fourpixel)
export(fourpixel.nonoverlap)
export(genthreebythree)
export(ninepixel.nonoverlap)
export(genfourbyfour)
export(sixteenpixel.nonoverlap)
export(calc_t_full)
export(calc_t_innergrid)
export(calc_t)
export(composite.ll)
export(gr.composite.ll)

importFrom(graphics, image)
importFrom(stats, runif)
